.subtitle {
  font-size: 2rem;
  color: #ffffff;
  margin-bottom: 0.5em;
}

.select {
  padding: 0.5em;
  border: 1px solid #c5d212;
  background-color: #001025;
  color: #ffffff;
  border-radius: 0.5em;
  margin-bottom: 0.5em;
}
